
<footer>
<div class="tm-block tm-block-footer">
		<div class="uk-container uk-container-center">

			<footer class="tm-footer uk-text-center">

								<a class="tm-totop-scroller" data-uk-smooth-scroll="" href="#"></a>
				
				<div class="uk-panel">
</div>
<div class="uk-panel">
	<p class="uk-text-center uk-text-small ul-text-mute padding_bottom_15 margin_top_minus20">
  StarAzure.com is not affiliated with or endorsed by the Joomla Project or Open Source Matters. <br>
  The Joomla name and logo are used under a limited license granted by Open Source Matters the trademark holder in the United States and other countries.
 </p>


<div class="uk-text-center uk-text-small uk-text-info">

<a href="/privacy-statement">Privacy Statement</a>,
<a href="/copyright">Copyright</a>,
<a href="/terms-of-use">Terms of Use</a>,
<a href="/license">StarAzure License</a>
© {{currentYear}} StarAzure All Rights Reserved.
<br>The StarAzure name and logo are copyrighted contents of StarAzure.com.		
</div></div>
			</footer>

		</div>
	</div>
</footer>



