<nav class="tm-navbar uk-navbar">
   <div class="uk-container uk-container-center">
      <div class="uk-clearfix">
         <div class="uk-navbar-flip">
            <ul class="uk-navbar-nav uk-hidden-small">
               <li class="uk-active" data-uk-dropdown="{}"><a href="/">Home</a></li>
                <li class="" data-uk-dropdown="{}"><a href="/help">Help</a></li>

            </ul>
         </div>
      </div>
   </div>
</nav>
