<nav class="tm-navbar uk-navbar">
   <div class="uk-container uk-container-center">
      <div class="uk-clearfix">
         <div class="uk-navbar-flip">
            <ul class="uk-navbar-nav uk-hidden-small">
               <li class="uk-active" data-uk-dropdown="{}"><a href="/"> Home</a></li>
               <li class="uk-parent" data-uk-dropdown="{}">
                  <a href="/themes">Themes</a>
                  <div class="uk-dropdown uk-dropdown-navbar uk-dropdown-width-1" style="width: 200px;">
                     <div class="uk-grid">
                        <div class="uk-width-1-1">
                           <ul class="uk-nav uk-nav-navbar">
                              <li><a href="/demo"><i class="uk-icon-folder-open uk-icon-white"></i> View Demo</a></li>
                              <li><a href="/themes"><i class="uk-icon-laptop uk-icon-blue"></i> View Details</a></li>
                              <li><a href="/themes/compare-plans/levels"><i class="uk-icon-tasks uk-icon-white"></i> Compare Plans</a></li>
                              <li><a href="/themes/pre-sale-questions"><i class="uk-icon-question-circle uk-icon-orange"></i> Pre Sale Questions</a></li>
                              <li><a href="/themes/downloads"><i class="uk-icon-cloud-download uk-icon-green"></i> Downloads</a></li>
                           </ul>
                        </div>
                     </div>
                  </div>
               </li>
               <li class="uk-parent" data-uk-dropdown="{}">
                  <a href="/joomla-extensions">Extensions</a>
                  <div class="uk-dropdown uk-dropdown-navbar uk-dropdown-width-2" style="width: 480px;">
                     <div class="uk-grid">
                        <div class="uk-width-1-2">
                           <ul class="uk-nav uk-nav-navbar">
                              <li><a href="/joomla-extensions/view-all-extensions"><i class="uk-icon-th uk-icon-blue"></i> View All Extensions</a></li>
                              <li><a href="/joomla-extensions/image-galleryplus"><i class="uk-icon-qrcode uk-icon-orange"></i> Image GalleryPlus</a></li>
                              <li><a href="/joomla-extensions/starazure-login-module"><i class="uk-icon-unlock-alt uk-icon-green"></i> StarAzure Login Module</a></li>
                              <li><a href="/joomla-extensions/starazure-register-module"><i class="uk-icon-user-md uk-icon-white"></i> StarAzure Register Module</a></li>
                           </ul>
                        </div>
                        <div class="uk-width-1-2">
                           <ul class="uk-nav uk-nav-navbar">
                              <li><a href="/joomla-extensions/mini-welcome-module"><i class="uk-icon-sign-in uk-icon-blue"></i> Mini Welcome Module</a></li>
                              <li><a href="/joomla-extensions/page-pre-loader"><i class="uk-icon-spinner uk-icon-white uk-icon-spin"></i> Page Pre Loader</a></li>
                              <li><a href="/joomla-extensions/page-animator"><i class="uk-icon-tags uk-icon-orange uk-icon-spin"></i> Page Animator</a></li>
                              <li><a href="/joomla-extensions/extension-downloads"><i class="uk-icon-download uk-icon-green"></i> Extension Downloads</a></li>
                           </ul>
                        </div>
                     </div>
                  </div>
               </li>
               <li class="uk-parent" data-uk-dropdown="{}">
                  <a href="#">
                  Expertise</a>
                  <div class="uk-dropdown uk-dropdown-navbar uk-dropdown-width-1">
                     <div class="uk-grid">
                        <div class="uk-width-1-1">
                           <ul class="uk-nav uk-nav-navbar">
                              <li><a href="/expertise/graphics-design"><i class="uk-icon-clipboard uk-icon-green"></i> Graphics Design</a></li>
                              <li><a href="/expertise/website-development"><i class="uk-icon-desktop uk-icon-orange"></i> Website Development</a></li>
                           </ul>
                        </div>
                     </div>
                  </div>
               </li>
               <li class="uk-parent" data-uk-dropdown="{}">
                  <a href="#">
                  Portfolio</a>
                  <div class="uk-dropdown uk-dropdown-navbar uk-dropdown-width-1">
                     <div class="uk-grid">
                        <div class="uk-width-1-1">
                           <ul class="uk-nav uk-nav-navbar">
                              <li><a href="/portfolio/websites"><i class="uk-icon-laptop uk-icon-orange"></i> Websites</a></li>
                              <li><a href="/portfolio/graphics"><i class="uk-icon-picture-o uk-icon-green"></i> Graphics</a></li>
                           </ul>
                        </div>
                     </div>
                  </div>
               </li>
               <li data-uk-dropdown="{}" class=""><a href="/forum">Support</a></li>
               <li data-uk-dropdown="{}" class=""><a href="http://docs.starazure.com/">Docs</a></li>
            </ul>
            <ul class="uk-navbar-nav uk-hidden-small">
               <li class="uk-parent" data-uk-dropdown="">
                  <a href="#">Login</a>
                  <div class="uk-dropdown uk-dropdown-navbar">
                  
                  </div>
               </li>
            </ul>
         </div>
         <a href="#offcanvas" class="uk-navbar-toggle uk-navbar-flip uk-hidden-large" data-uk-offcanvas=""></a>
         <a class="tm-logo-small uk-navbar-brand uk-visible-small" href="http://www.starazure.com">
         <img src="http://farm8.staticflickr.com/7390/13075523155_65a44b8163_o.png" alt="StarAzure -  Joomla Templates, Graphics and Web"></a>
      </div>
   </div>
</nav>