<div class="tm-toolbar uk-clearfix uk-hidden-small">
			<div class="uk-container uk-container-center">
			
								<a class="tm-logo uk-navbar-brand uk-hidden-small" href="http://www.starazure.com">
	</a><a id="one-tour-title"><img src="http://farm8.staticflickr.com/7390/13075523155_65a44b8163_o.png" alt="StarAzure -  Joomla Templates, Graphics and Web">
  </a>
				
				
								<div class="uk-float-right"><div class="uk-panel">

<div class="mod-miniwelcome margin_top_5" style="margin-left: -200px;">
	<div class="inset surround">
		<span class="logintext"><i class="uk-icon-sign-in"></i> Welcome Guest</span>
				<a class="uk-button uk-button-primary uk-button-small" id="member-login" href="/index.php?option=com_users&amp;view=login">Log in</a>
		<a id="buy_for_tour" style="margin-left: 10px;" class="uk-button uk-button-danger" href="/themes/compare-plans/levels">Join Today</a>
						
</div>
</div>
</div></div>
				
			</div>
		</div>