<!DOCTYPE HTML>
<meta charset="utf-8">
<meta name="description" content="Beautiful themes" />
<title>StarAzure -  {{helptext}}</title>

{{> head}}

<body>

{{> toolbar}}
{{> mainmenu}}



{{> footer}}

</body>