<!DOCTYPE HTML>
<meta charset="utf-8">
<meta name="description" content="Beautiful themes" />
<title>StarAzure -  {{helptext}}</title>

{{> head}}

<body>

{{> toolbar}}
{{> mainmenu}}
<div class="uk-text-center margin_top_15">
<h1 class="showcase-title">Help Page</h1>
</div>

{{> footer}}

</body>
