<!DOCTYPE HTML>
<meta charset="utf-8">
<meta name="description" content="Beautiful themes" />
<title>StarAzure -  {{helptext}}</title>

{{> head}}

<body>

{{> toolbar}}
{{> mainmenu}}

<div class="top_slide">
<div id="tm-top-a">
  <div class="uk-text-center" style="padding: 120px 0 120px 0">
      <h1 class="showcase-title">This is the home page</h1>
  </div>
</div>
</div>


{{> footer}}

</body>
